<span class="page-navigation">
    <a class="glyphicon glyphicon-home" href="#/login"></a>
</span>
<h2 class="text-center">Reset Password</h2>
<div class="forgot-password-container">
    <form id="forgotPasswordForm" class="form-inline" autocomplete="off">  
        <div class="form-group">
            <label class="sr-only" for="resetPasswordEmail">Email address</label>
            <input type="email" class="form-control" id="resetPasswordEmail" placeholder="Registered Email" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button> 
    </form>
</div>