.dashboard-container {
    margin-top: 20px;
}
.note-tile-container {
    margin-bottom: 15px;
}
.note-tile-container .note-tile {
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}
.sign-out-button {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
}
#addNotesForm .form-control {
    border: none;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
}
.add-notes-container {
    background: #fff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.20);
    box-shadow: 0 3px 5px rgba(0,0,0,0.20);
}
.btn-add-notes {
    border: 0;
    background: none;
}