<span class="sign-out-button">
    <a class="glyphicon glyphicon-off" href="#/login" title="Sign Out"></a>
</span>
<h2 class="text-center">Dashboard</h2>
<div class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="add-notes-container">
                    <form id="addNotesForm" autocomplete="off">
                        <div class="">
                            <input [class.hidden]="!addNoteActive" type="text" class="form-control" (blur)="hideAddForm($event)" id="addNotesTitle" placeholder="Title" required>
                            <textarea [class.inactive]="!addNoteActive" (click)="showAddForm()" (blur)="hideAddForm($event)" class="form-control" placeholder="Add Note"></textarea>
                        </div>
                        <div class="text-right" [class.hidden]="!addNoteActive">
                            <button type="submit" class="btn btn-default btn-add-notes">Done</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container">
                <div class="note-tile">
                    <label>Note title</label>
                    <p>This is note description. This is note description.</p>
                </div>
            </div>
        </div>
    </div>
</div>