.dashboard-container {
    margin-top: 20px;
}
.note-tile-container {
    margin-bottom: 15px;
}
.note-tile-container .note-tile {
    background: #fff;
    padding: 5px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    opacity: 1;
    transition: opacity 0.3s;
}
.note-tile-container .note-tile.editing {
    opacity: 0;
}
.sign-out-button {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
}
.add-notes-container .form-control, .edit-notes-container .form-control {
    border: none;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    background: none;
    color: #000;
}
.add-notes-container {
    background: #fff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.20);
    box-shadow: 0 3px 5px rgba(0,0,0,0.20);
}
.add-notes-container textarea, .edit-notes-container textarea {
    resize: none;
}
.add-notes-container textarea.inactive {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-add-notes, .btn-edit-notes  {
    border: 0;
    background: none;
}
.modal-content{
    border-radius: 0;    
}
.edit-note-modal .modal-body{
    padding: 0;   
}
.note-footer {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    opacity: 0;
    transition: opacity 0.3s;
}
.note-tile-container:hover .note-footer {
    opacity:1;
}
.note-footer .glyphicon {
    padding: 4px;
}
.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}
.color-palletes {
    position: absolute;
    left: 0;
    top: -62px;
    background: #fff;
    width: 115px;
    display: none;
    padding: 4px;
}
.btn-theme:hover .color-palletes {
    display: inline-block;
}
    .color.white-color {
        border: 2px solid #ccc;
    }