<span class="sign-out-button">
    <span class="glyphicon glyphicon-off" (click)="logout()" title="Sign Out"></span>
</span>
<h2 class="text-center">Dashboard</h2>
<h5 class="text-center"> <span *ngIf="User && !User.FirstName">Loading...</span><span *ngIf="User && User.FirstName">Welcome, {{User.FirstName}} {{User.LastName}}</span></h5>
<div class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="add-notes-container">
                    <form id="addNotesForm" autocomplete="off" (submit)="insertNote(newNote)">
                        <div class="">
                            <input [class.hidden]="!addNoteActive" type="text" name="title" [(ngModel)]="newNote.Title" class="form-control" (blur)="hideAddForm($event)" id="addNotesTitle" placeholder="Title" required>
                            <textarea [class.inactive]="!addNoteActive" name="description" [(ngModel)]="newNote.Description" (click)="showAddForm()" (blur)="hideAddForm($event)" class="form-control" placeholder="Add Note"></textarea>
                        </div>
                        <div class="text-right" [class.hidden]="!addNoteActive">
                            <button type="submit" class="btn btn-default btn-add-notes">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 note-tile-container" *ngFor="let note of notes;">
                <div class="note-tile" (click)="editNote(note)" [style.opacity]="editId === note.Id ? 0 : 1" [style.background]="note.Background">
                    <label>{{note.Title}}</label>
                    <p>{{note.Description}}</p>
                </div>
                <div class="note-footer">
                    <span class="glyphicon glyphicon-adjust btn-theme" title="Theme">
                        <span class="color-palletes">
                            <span class="color {{color.className}}" *ngFor="let color of colors" [style.background]="color.color" (click)="setTheme(note.Id, note, color)"></span>
                        </span>
                    </span>
                    <span class="glyphicon glyphicon-trash" (click)="deleteNote(note.Id)" title="Delete"></span>                   
                </div>
            </div>            
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade edit-note-modal" id="edit-note-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" [style.background]="editedNote.Background">
            <div class="modal-body">
                <div class="edit-notes-container">
                    <form id="editNotesForm" autocomplete="off" (submit)="saveNote()">
                        <div class="">
                            <input type="text" class="form-control" id="editNotesTitle" name="title" [(ngModel)]="editedNote.Title" placeholder="Title" required>
                            <textarea class="form-control" placeholder="Add Note" name="description" [(ngModel)]="editedNote.Description"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-default btn-edit-notes">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade delete-note-modal" id="delete-note-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"><span class="glyphicon glyphicon-alert"></span> &nbsp; Confirmation Message</div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-sm btn-delete-note" id="btn-delete-note" (click)="confirmDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>