<h1 class="text-center">Hey, Welcome !</h1>
<h4 class="text-center">Log in to your account</h4>
<div class="login-container">
    <form id="loginForm" autocomplete="off" (ngSubmit)="login()" #loginForm="ngForm">
        <div class="form-group">
            <label for="loginEmail">Email address</label>
            <input type="email" class="form-control" id="loginEmail" name="loginUsername" [(ngModel)]="user.username" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" name="loginPassword" [(ngModel)]="user.password"  placeholder="Password" required>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-success">Sign In</button>
            <a class="btn btn-primary" href="#/register">Register</a>            
        </div>
    </form>
    <div class="col-xs-12 forgot-password">
        <a href="#/forgot-password">Forgot Password?</a>
    </div>
</div>