<span class="page-navigation">
    <a class="glyphicon glyphicon-home" href="#/login"></a>
</span>
<h2 class="text-center">Create account</h2>
<div class="registration-container">
    <form id="RegistrationForm" autocomplete="off" (ngSubmit)="onSubmit(NewUserData)">
        <div class="form-group">
            <label for="registerFirstName">First Name</label>
            <input type="text" class="form-control" id="registerFirstName" name="registerFirstName" [(ngModel)]="NewUserData.FirstName" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <label for="registerLastName">Last Name</label>
            <input type="text" class="form-control" id="registerLastName" name="registerLastName" [(ngModel)]="NewUserData.LastName" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <label for="registerEmail">Email address</label>
            <input type="email" class="form-control" id="registerEmail" name="registerEmail" [(ngModel)]="NewUserData.Email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="registerPassword">Password</label>
            <input type="password" class="form-control" id="registerPassword" name="registerPassword" [(ngModel)]="NewUserData.Password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="registerConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="registerConfirmPassword" (input)="PasswordMismatch = (NewUserData.Password != NewUserData.ConfirmPassword)" name="registerConfirmPassword" [(ngModel)]="NewUserData.ConfirmPassword" placeholder="Confirm Password" required>
            <span class="text-danger" *ngIf="PasswordMismatch">Password and Confirm Password Should Match !</span>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-success" [disabled]="PasswordMismatch">Register <span *ngIf="registering" class="glyphicon glyphicon-refresh"></span></button>            
            <button type="reset" class="btn btn-default">Clear</button>  
        </div>
    </form>
</div>
<div class="modal fade" tabindex="-1" id="registerSuccessModal" role="dialog" aria-labelledby="registerSuccessModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="registerSuccessModalLabel">Alert!</h4>
            </div>
            <div class="modal-body">
                <h4>You have been registered successfully. Please login to continue.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>